body {
    background-image: url("r-wallp.png");
	color: yellow;
	margin-left: 10px;
}

table {
    border: 4px solid black;
    text-align: center;
    display: inline-block;
}

.title {
	font-size: 1.2rem;
	color: orangered;
}

.value {
	color: fuchsia;
}
